<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Blog App</a>
    by <a href="http://www.michaelhartl.com/">Vo Van Hai</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "New", signup_path %></li>
    </ul>
  </nav>
</footer>